<h1>Sessions#home</h1>
<p>Find me in app/views/sessions/home.html.erb</p>
<h1>Welcome <%= @current_user.name %>!!</h1>

<%= link_to "Logout", :action => 'logout'%> |
<%= link_to "all users", users_path %>
