<% @answer_comments.each do |comment| %>
  <p1>
    <br>
    <h4> comments <br><br></h4>

    <%= comment.description %>
    post by:  <%= User.find(comment.user_id).name %>
    <% if comment.user_id == current_user.id %>
      <%= link_to "edit", edit_user_question_answer_comment_path(@question.user_id, @question.id, comment.commentable_id, comment.id) %>
      <%= link_to "delete", user_question_answer_comment_path(@question.user_id, @question.id, comment.commentable_id, comment.id), method: :delete, data: {confirm: "are you sure?"} %>
    <% end %>
  </p1>

<% end %>